#sidemenu {
    border-right: 1px solid gainsboro;
    padding: 1.25em;
    width: 15em;
    color: #0f766e;
}
#sidemenu h2 {
    border-bottom: 3px solid #0f766e;
}
#sidemenu button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font: inherit;
    padding: 0.2em 0.5em;
    display: block;
    color: inherit;
}
#sidemenu .subnav .nav-item {
    padding: 0 1em;
}
#sidemenu button i {
    padding-right: 10px;
}
/*
section nav{
    display: grid;
    grid-template-rows: auto 1fr;
}*/
#sidemenu .nav-items {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

#sidemenu button:hover {
    background-color: #0d9488;
    color: white;
}
#sidemenu button.active-side-menu-btn {
    background-color: #0f766e;
    color: white;
    font-weight: 600;
}
