@import url("../fontawesome/css/all.css");
@import url("./forms.css");
@import url("./sidebar.css");

:root {
    --font-size: calc(1em + 0.25vw);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    font-weight: 500;
    background-color: whitesmoke;
    font-size: var(--font-size);
}

header {
    font-size: var(--font-size);
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 0.5em 1em;
    background-color: #0f766e;
    color: aliceblue;
    flex: 0 1 auto;
}
header h1.site-name {
    text-align: center;
}
header button.menu-button {
    display: none;
    background: none;
    padding: 0;
    margin: 0;
    text-align: end;
    border: none;
    font-size: inherit;
    color: inherit;
    height: 32px;
    width: 32px;
    align-content: end;
    grid-column: 4/5;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    flex: 1 1 auto;
}
footer {
    flex: 0 1 auto;
}



.task-view {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.task-view > div {
    display: flex;
    gap: 1em;
    align-items: center;
}
.task-view div span:nth-of-type(2){
    margin-left: auto;
}

.task-view div button {
    width: 1.5em;
    font-size: inherit;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
}
.task-view .priority-color {
    display: block;
    width: 1.5em;
    height: 1.5em;
}
.task-view .priority-color.high{
    background-color: rgb(175, 0, 0);
}
.task-view .priority-color.medium{
    background-color: rgb(233, 233, 0);
}
.task-view .priority-color.low{
    background-color: green;
}
.task-view div label {
    width: 15em;
}
#content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 3em;
}
#content .btn-add-task {
    margin-left: auto;
    font-weight: 600;
    padding: 0.5em 1.5em;
    background-color: #0f766e;
    color: white;
    border: none;
    font-size: inherit;
    font-family: inherit;
    border-radius: 10px;
}
#content .btn-add-task:hover {
    background-color:#0d9488;
}
#content .task-view input[type="checkbox"] {
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid black;
}
span.task-due-date {
    width: 6em;
}
div.done-task {
    text-decoration: line-through 2px solid black;
}
div.task-due-date-passed {
    color: rgb(75, 75, 75);
}
div.done-task.task-due-date-passed{
    text-decoration: line-through 2px solid rgb(75, 75, 75);
}
#content .task-view .task-due-date-passed input[type="checkbox"] {
    border: 2px solid rgb(75, 75, 75);
}

@media screen and (max-width: 780px) {
    body{
        max-width: 100vw;
        overflow: hidden;
    }
    main {
        position: relative;
        display: block;
    }
    header button.menu-button {
        display: block;
    }
    header button.menu-button i,
    header button.menu-button i::before{
        font-size: 32px;
    }
    header > span {
        display: none;
    }
    header {
        grid-template-columns: 3fr 1fr;
    }
    header h1.site-name {
        text-align: left; 
    }
    #sidemenu {
        display: none;
        border: none;
        width: 100%;
        min-height: 100vh;
        background-color: #003e5b;;
        position: absolute;
        z-index: 10;
    }
    #sidemenu {
        color: whitesmoke;
    }
    #sidemenu h2 {
        border-bottom: 3px solid whitesmoke;
    }    
    .modal-container {
        z-index: 100;
    }
}
